## Activity 04: Use Pandas to compute the Mean, Median, and Variance

In this activity, you will consolidate the skills you've acquired in the last exercise and use Pandas to do some very basic mathematical calculations on our `world_population.csv` dataset.   
Pandas have a consistent API, so it should be rather easy to transfer your knowledge of the mean method to median and variance.    
Your already existing knowledge of NumPy will also help.

#### Loading the dataset

In [54]:
# importing the necessary dependencies
import pandas as pd

pd.options.display.max_columns = 500

In [55]:
# loading the Dataset
dataset = pd.read_csv('./data/world_population.csv', index_col=0)

In [64]:
dataset.columns

Index(['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016'],
      dtype='object')

In [56]:
dataset.shape

(264, 60)

In [57]:
dataset.isnull().sum()

Country Code        0
Indicator Name      0
Indicator Code      0
1960              264
1961               11
1962               11
1963               11
1964               11
1965               11
1966               11
1967               11
1968               11
1969               11
1970               11
1971               11
1972               11
1973               11
1974               11
1975               11
1976               11
1977               11
1978               11
1979               11
1980               11
1981               11
1982               11
1983               11
1984               11
1985               11
1986               11
1987               11
1988               11
1989               11
1990                9
1991                5
1992                6
1993                6
1994                6
1995                5
1996                5
1997                5
1998                4
1999                4
2000                2
2001                2
2002                2
2003                2
2004                2
2005                2
2006                2
2007                2
2008                2
2009                2
2010                2
2011                2
2012                3
2013                3
2014                3
2015                3
2016              264
dtype: int64

In [58]:
# looking at the first two rows of the dataset
dataset.head(2)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,322.494444,324.361111,326.244444,328.138889,330.211111,332.494444,334.661111,336.250000,336.972222,336.605556,335.366667,333.922222,333.211111,333.866667,336.483333,340.800000,345.577778,349.061111,350.155556,348.022222,343.527778,339.316667,339.066667,345.266667,359.016667,379.083333,402.766667,426.111111,446.255556,462.194444,474.705556,484.866667,494.466667,504.766667,516.077778,527.750000,538.972222,548.566667,555.727778,560.166667,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,44.159574,46.570213,49.065957,51.657447,54.382979,57.217021,60.065957,62.795745,65.331915,67.619149,69.721277,71.800000,74.082979,76.729787,79.791489,83.217021,86.940426,90.859574,94.887234,98.968085,103.102128,107.300000,111.593617,115.980851,120.582979,125.327660,129.793617,133.419149,135.859574,136.789362,136.482979,135.931915,136.512766,139.146809,144.191489,151.161702,159.112766,166.674468,172.814894,177.389362,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

In [59]:
dataset[:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,322.494444,324.361111,326.244444,328.138889,330.211111,332.494444,334.661111,336.250000,336.972222,336.605556,335.366667,333.922222,333.211111,333.866667,336.483333,340.800000,345.577778,349.061111,350.155556,348.022222,343.527778,339.316667,339.066667,345.266667,359.016667,379.083333,402.766667,426.111111,446.255556,462.194444,474.705556,484.866667,494.466667,504.766667,516.077778,527.750000,538.972222,548.566667,555.727778,560.166667,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,44.159574,46.570213,49.065957,51.657447,54.382979,57.217021,60.065957,62.795745,65.331915,67.619149,69.721277,71.800000,74.082979,76.729787,79.791489,83.217021,86.940426,90.859574,94.887234,98.968085,103.102128,107.300000,111.593617,115.980851,120.582979,125.327660,129.793617,133.419149,135.859574,136.789362,136.482979,135.931915,136.512766,139.146809,144.191489,151.161702,159.112766,166.674468,172.814894,177.389362,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

---

#### Mean

In [108]:
# calculate the mean of the third row
dataset.iloc[[2]].mean(axis=1, numeric_only=True)

Country Name
Afghanistan    25.373379
dtype: float64

In [115]:
# calculate the mean of the last row
dataset.iloc[-1,3:].mean()

24.520531613145806

In [116]:
# calculate the mean of the country Germany
dataset.loc[['Germany'], '1960':'2015'].mean(axis=1)

Country Name
Germany    227.773688
dtype: float64

**Note:**   
`.iloc()` and `.loc()` are two important methods when indexing with Pandas. They allow making precise selections of data based on either the integer value index (`iloc`) or the index column (`loc`), which in our case is the country name column.

---

#### Median

In [132]:
# calculate the median of the last row
print("Serie", dataset.iloc[-1, 3:].median()) # Using numpy serie
print("Dataframe", dataset.iloc[[-1]].median(axis=1, numeric_only=True)) # Using dataframw

Serie 25.5054310456249
Dataframe Country Name
Zimbabwe    25.505431
dtype: float64

In [131]:
# calculate the median of the last 3 rows
dataset.iloc[-3:].median(axis=1, numeric_only=True)

Country Name
Congo, Dem. Rep.    14.419050
Zambia              10.352668
Zimbabwe            25.505431
dtype: float64

**Note:**   
Slicing can be done in the same way as with NumPy.   
`dataset[1:3]` will return the second and third row of our dataset.

In [139]:
# calculate the median of the first 10 countries
dataset[:10].median(axis=1, numeric_only=True)

Country Name
Aruba                   348.022222
Andorra                 107.300000
Afghanistan              19.998926
Angola                    8.458253
Albania                 106.001058
Arab World               15.307283
United Arab Emirates     19.305072
Argentina                11.618238
Armenia                 105.898033
American Samoa          220.245000
dtype: float64

**Note:**   
When handling larger datasets, the order in which methods get executed definitely matters.   
Think about what `.head(10)` does for a moment, it simply takes your dataset and returns the first 10 rows of it, cutting down your input to the `.mean()` method drastically.   
This will definitely have an impact when using more memory intensive calculations, so keep an eye on the order.

---

#### Variance

In [143]:
# calculate the variance of the last 5 columns
dataset.iloc[:, -5:].var()

2012    3.063475e+06
2013    3.094597e+06
2014    3.157111e+06
2015    3.220634e+06
2016             NaN
dtype: float64

---

As mentioned in the introduction of Pandas, it's interoperable with several of NumPy's features.   
Here's an example of how to use NumPy's `mean` method with a Pandas DataFrame.

In [ ]:
# NumPy Pandas interoperability
import numpy as np

print("Pandas", dataset["2015"].mean())
print("NumPy", np.mean(dataset["2015"]))

Pandas 368.70660104001837
NumPy 368.70660104001837